Pipfile.lock
.vscode

sampleFrontend/node_modules
sampleFrontend/yarn.lock 

sampleSite/media/audio_files
sampleSite/media/profile_images
sampleSite/media/sample_images

.gitconfig

.env
