
/*  ACCOUNT  */
.Account-pic-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Account .profile-pic {
  width: 70px;
  border-radius: 5px;
  margin: 5px;
}
.Account-div {
  margin: 0 20px;
  position: relative;
  box-shadow: 0 11px 15px 1px black;
  border-radius: 0.5rem;
}
.Account-username {
  font-size: 2.5rem;
  font-family: 'Turret Road', sans-serif;
  margin: 0;
  margin-left: 20px;
}
.Account-follow-div {
  display: flex;
  justify-content: center;
}
.Account-follow-div > div > p {
  margin: 0 5px;
}
.follow-count {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}


.user-or-saved-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  border: 1px solid var(--white-color);
  border-radius: 5px;
  max-width: 30rem;
  margin: 1rem auto;
}
.user-or-saved-div div {
  cursor: pointer;
  width: 50%;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.user-or-saved-div .selected {
  background-color: var(--white-color);
  color: var(--background-color);
}
