/*  ACCOUNT  */
.Account-pic-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Account .img-container {
  width: 70px;
  height: 70px;
  margin: 5px;
  border-radius: 5px;
}
.Account .profile-pic {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.Account-div {
  margin: 0 20px;
  position: relative;
  box-shadow: 0 11px 15px 1px black;
  border-radius: 0.5rem;
}
.Account-username {
  font-size: 2.5rem;
  font-family: 'Turret Road', sans-serif;
  margin: 0;
  margin-left: 20px;
}
.Account-follow-div {
  display: flex;
  justify-content: center;
}
.Account-follow-div > div > p {
  margin: 0 5px;
}
.follow-count {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}
.user-or-saved-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  max-width: 30rem;
  margin: 1rem auto;
}
.user-or-saved-div div {
  cursor: pointer;
  width: 50%;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.user-or-saved-div .selected {
  background-color: var(--purple-color);
  color: var(--background-color);
}
.upload-sample-link-div {
  width: 10rem;
  margin: 15px auto;
}
.upload-sample-link-div p {
  margin: 0;
}
.upload-sample-link-div svg {
  font-size: 2rem;
  margin: 10px;
  cursor: pointer;
}
/* pop up windowws (upload, edit, followlist)  */
.upload-sample-window-div,
.edit-profile-window-div,
.follow-list-window-div
{
  position: fixed;
  background-color: var(--background-color);
  border-radius: 0.5rem;
  width: 90%;
  max-width: 1200px;
  max-height: 95vh;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}
.upload-sample-window-div .x,
.edit-profile-window-div .x,
.follow-list-window-div .x {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
}
