/*  MINISAMPLELIST  */
.MiniSampleList {
  box-shadow: 0 0 15px 1px black;
  border-radius: 0.5rem;
  padding: 0 0 0.5rem 0;
  margin: 0.5rem 1rem 0.3rem 1rem;
  min-width: 15rem;
  overflow: hidden;
}
.MiniSampleList h4 {
  margin: 0;
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.MiniSampleList .div-list {
  box-shadow: inset 0 0 15px 1px black;
  overflow-y: auto;
  margin: 0 0.5rem;
}
.MiniSampleList ul {
  list-style: none;
  padding: .2rem .5rem;
  margin: 0;
  line-height: 2rem;
  text-align: left;
  overflow: auto;
}
.MiniSampleList ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}
.MiniSampleList ul li p {
  margin: 0 0 0 .5rem; 
}
.MiniSampleList ul li p.selected {
  text-decoration: underline;
  color: var(--purple-color);
}
.MiniSampleList ul li:hover {
  color: var(--purple-color);
  cursor: pointer;
}
.MiniSampleList ul li svg {
  cursor: pointer;
}
.playPause-icon-div {
  width: .7rem;
}



/* ------ switches ------- */
.switches {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 0 1rem;
  flex-wrap: wrap;
}
.switch-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem;
}
.switch-div p {
  white-space: nowrap;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0.2rem 0 0 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 18px;
  margin: 0 auto;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-color);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 1px;
  background-color: var(--background-color);
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: var(--purple-color);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--purple-color);
}
input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}


.div-list li.selected-item {
  outline: 1px dotted var(--purple-color);
  color: var(--purple-color);
}


@media (max-width: 849px) {
  .MiniSampleList {
    max-height: 12rem;
    width: 90%;
    margin: 0 auto;
  }
  .MiniSampleList .div-list{
    height: 8rem;
  }
}

