
/*  SAMPLE LIST  */
.sampleList {
  display: inline-block;
  margin: 0 auto;
}
.sample {
  max-width: 35rem;
  margin: 5px 5px;
  position: relative;
  box-shadow: 0 0 15px 1px black;
  border-radius: 0.5rem;
}
.sample-actions-div {
  border-bottom: 1px solid var(--white-color);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-direction: row;
  padding: 5px 20px;
  margin: 0;
  height: 20px;
  align-items: center;
  overflow: hidden;
  transition: width 0.3s ease;
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  transition: transform 0.3s ease;
  overflow: hidden;
  transform: translateX(100%);
}
.actions div {
  cursor: pointer;
  font-size: .8rem;
  letter-spacing: 0.1rem;
}
.actions div:hover {
  color: var(--purple-color);
}
.actions .actions-delete:hover {
  color: red;
}
.closed {
  transform: translateX(-150%);
}
.open {
  transform: translateX(0);
}
.sample-actions-div .open-close-div {
  display: inline-block;
  transition: transform 0.3s ease-out;
}
.rotate-out {
  transform: rotate(180deg);
}
.rotate-in {
  transform: rotate(0);
}
.sample-actions-div .open-close {
  cursor: pointer;
  right: 20px;
  text-align: right;
  width: 20px;
  margin: 0;
}
.sample.selected {
  -webkit-box-shadow: 0 0 7px var(--white-color);
  box-shadow: 0 0 7px var(--white-color);
}
.sample-title-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "img title profile";
  margin: 0.6rem;
}
.sample-img-wrapper {
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  width: 100px;
  height: 100px;
  overflow: hidden;
  grid-area: img;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sample-title-section img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  overflow: hidden;
}
.sample-name {
  font-size: 1.4rem;
  letter-spacing: .1rem;
  margin: 10px;
  font-weight: 700;
  grid-area: title;
}
.sample-title-section a {
  color: var(--purple-color);
  display: inline;
  grid-area: profile;
  background-color: var(--background-color);
}
.sample-title-section span:hover {
  cursor: pointer;
}
.sample-description-div p {
  font-size: .8rem;
  text-align: left;
  margin: 10px 20px;
}
.sample-tags-div {
  display:flex;
  flex-wrap: wrap;
  padding: .1rem .5rem;
  align-items: center;
}
.sample-tags-div h6 {
  margin: 0 15px 0 10px;
  text-align: left;
  font-size: 1rem;
}
.confirm-delete-window, .confirm-unsave-window {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: absolute;
  background-color: var(--background-color);
  width: 90%;
  height: 100px;
  border: 1px solid var(--white-color);
  z-index: 15;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  padding: .5rem .1rem;
}
.confirm-delete-window div, .confirm-unsave-window div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.confirm-delete-window button, .confirm-unsave-window button {
  margin: 20px;
}


/*  AUDIO VISUALIZER  */
.audioVisualizer {
  height: 2.8rem;
}
.audioVisualizer-btns {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

/*  WAVEFORM  */
.waveform {
  position: absolute;
  z-index: -10;
  left: 0;
  bottom: 0;
}


@media (min-width: 1400px) {
  .sampleList-wrapper {
    width: 100%;
  }
  .sampleList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 1.5rem;
  }
}

@media (min-width: 850px) and (max-width: 1399px) {
  .sampleList-wrapper {
    margin: 0 auto;
    max-width: 855px;
  }
  .sampleList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 1.5rem;
  }
}
