
/*  SAMPLE LIST  */
.sampleList {
  max-width: 400px;
  margin: 0 auto;
}
.sample {
  border: 1px solid var(--white-color);
  margin: 5px 5px;
  position: relative;
}
.sample-actions-div {
  border-bottom: 1px solid var(--white-color);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-direction: row;
  padding: 5px 20px;
  margin: 0;
  height: 20px;
  align-items: center;
  overflow: hidden;
  transition: width 0.3s ease;
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  transition: transform 0.3s ease;
  overflow: hidden;
  transform: translateX(100%);
}
.actions div {
  cursor: pointer;
}
.closed {
  transform: translateX(-100%);
}
.open {
  transform: translateX(0);
}
.sample-actions-div .open-close-div {
  display: inline-block;
  transition: transform 0.3s ease;
}
.rotate-out {
  transform: rotate(180deg);
}
.rotate-in {
  transform: rotate(0);
}
.sample-actions-div .open-close {
  cursor: pointer;
  right: 20px;
  text-align: right;
  width: 20px;
  margin: 0;
}
.sample.selected {
  -webkit-box-shadow: 0 0 7px var(--white-color);
  box-shadow: 0 0 7px var(--white-color);
}
.sample-title-section {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}
.sample-img-wrapper {
  -webkit-box-shadow: inset 0 0 7px var(--white-color);
  box-shadow: inset 0 0 7px var(--white-color);
  max-width: 100px;
  max-height: 100px;
  border-radius: 5px;
  overflow: hidden;
}
.sample-title-section img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sample-name {
  font-size: 1.4rem;
  margin: 10px;
  font-weight: 700;
}
.sample-title-section span:hover {
  cursor: pointer;
}
.sample-description-div p {
  font-size: .8rem;
  text-align: left;
  margin: 10px 20px;
}
.sample-tags-div {
  border: 1px solid var(--white-color);
  display:flex;
  padding: 10px;
}
.sample-tags-div h6 {
  margin: 0 15px 0 10px;
  text-align: left;
  font-size: 1rem;
}
.confirm-delete-window, .confirm-unsave-window {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: absolute;
  background-color: var(--background-color);
  width: 90%;
  height: 100px;
  border: 1px solid var(--white-color);
  z-index: 15;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}
.confirm-delete-window div, .confirm-unsave-window div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.confirm-delete-window button, .confirm-unsave-window button {
  margin: 20px;
}