:root {
  --background-color: #242424;
}
#root {
  max-width: 1280px;
  text-align: center;
  width: 100%;
}

.link:hover {
  cursor: pointer;
}

/* FONTS*/
/* font-family: 'Silkscreen', sans-serif; */
/* font-family: 'Press Start 2P', sans-serif; */


/*  OverLays  */
.overlay-sample-list {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}


/*  CUSTOM-INPUTS  */
.custom-input-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
  margin: 10px;
}
.custom-input-label {
  padding: 0 0.8em;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  left: 3em;
  top: -.7em;
  background-color: var(--background-color);
  margin: 0;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}
.custom-input-text {
  outline: none;
  width: 80%;
  padding: 0.8em 1em;
  border: .1em solid white;
  background-color: var(--background-color);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 1.8em;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  color: inherit
}
.custom-input-text:focus {
  outline: 2px dashed rgba(255, 255, 255, 0.349);
  outline-offset: 0.8em;
}

/*  APP  */
.App {
  margin: 0 auto;
}


/*  NAV  */
.Nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 15px auto;
  position: relative;
}
.logo-and-name {
  display: flex;
  align-items: center;
}
.Nav-img-wrapper {
  max-width: 100px;
  max-height: 100px;
  border-radius: 5px;
  overflow: hidden;
}
.Nav-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Nav-name {
  margin: 0 20px;
  font-family: 'Silkscreen', sans-serif;
  color: #646cff;
}
.Nav-links {
  font-family: 'Turret Road', sans-serif;
  font-size: 1rem;
}
.Nav-links a {
  margin: 0 10px;
  font-weight: 700;
  color: #646cff;
} 
/*  nav  -  HAMBURGER MENU  */
.menu-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: 9;
  box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);
  transform: translateY(-150px);
  transition: transform ease-in-out 0.2s;
  border: 1px solid white;
  justify-content: center;
  width: 400px;
}
.menu-nav.show-menu {
  transform: translateY(110px);
  transition: transform ease-in-out 0.2s;
}
.menu-nav a {
  color: #646cff;
  border: 1px solid var(--background-color);
  font-size: 1.2rem;
  font-family: 'Turret Road', sans-serif;
  font-weight: 700;
}
.menu-nav a:hover {
  color: white;
  background-color: #646cff;
} 
.menu {
  --s: 48px; /* control the size */
  --c: white; /* the color */
  
  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s)/2) solid #0000; 
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0) 
         no-repeat content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000) 
         repeat-y content-box border-box;
  background: 
    var(--_g2) left  var(--_p,0px) top,
    var(--_g1) left  calc(var(--s)/10 + var(--_p,.2px)) top,
    var(--_g2) right var(--_p,0px) top,
    var(--_g1) right calc(var(--s)/10 + var(--_p,.2px)) top;
  background-size: 
    20% 80%,
    40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
  mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
  cursor: pointer;
  transition: 
    background-position .3s var(--_s,.3s), 
    clip-path 0s var(--_s,.6s);
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}
.menu:before,
.menu:after {
  content:"";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform .3s calc(.3s - var(--_s,.3s));
}
.menu:checked {
  clip-path: inset(0);
  --_p: calc(-1*var(--s));
  --_s: 0s;
}
.menu:checked:before {
  transform: rotate(45deg);
}
.menu:checked:after {
  transform: rotate(-45deg);
}
.menu:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}
.menu {
  display: none;
}


/*  SAMPLE LIST  */
.sampleList {
  max-width: 400px;
  margin: 0 auto;
}
.sample {
  border: 1px solid white;
  margin: 5px 5px;
  position: relative;
}
.sample-actions-div {
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-direction: row;
  padding: 5px 20px;
  margin: 0;
  height: 20px;
  align-items: center;
  overflow: hidden;
  transition: width 0.3s ease;
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  transition: transform 0.3s ease;
  overflow: hidden;
  transform: translateX(100%);
}
.actions div {
  cursor: pointer;
}
.closed {
  transform: translateX(-100%);
}
.open {
  transform: translateX(0);
}
.sample-actions-div .open-close-div {
  display: inline-block;
  transition: transform 0.3s ease;
}
.rotate-out {
  transform: rotate(180deg);
}
.rotate-in {
  transform: rotate(0);
}
.sample-actions-div .open-close {
  cursor: pointer;
  right: 20px;
  text-align: right;
  width: 20px;
  margin: 0;
}
.sample.selected {
  -webkit-box-shadow: 0 0 7px #fff;
  box-shadow: 0 0 7px #fff;
}
.sample-title-section {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}
.sample-img-wrapper {
  -webkit-box-shadow: inset 0 0 7px #fff;
  box-shadow: inset 0 0 7px #fff;
  max-width: 100px;
  max-height: 100px;
  border-radius: 5px;
  overflow: hidden;
}
.sample-title-section img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sample-name {
  font-size: 1.4rem;
  margin: 10px;
  font-weight: 700;
}
.sample-title-section span:hover {
  cursor: pointer;
}
.sample-description-div p {
  font-size: .8rem;
  text-align: left;
  margin: 10px 20px;
}
.sample-tags-div {
  border: 1px solid white;
  display:flex;
  padding: 10px;
}
.sample-tags-div h6 {
  margin: 0 15px 0 10px;
  text-align: left;
  font-size: 1rem;
}
.confirm-delete-window, .confirm-unsave-window {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: absolute;
  background-color: var(--background-color);
  width: 90%;
  height: 100px;
  border: 1px solid white;
  z-index: 15;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}
.confirm-delete-window div, .confirm-unsave-window div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.confirm-delete-window button, .confirm-unsave-window button {
  margin: 20px;
}

/*  AUDIO VISUALIZER  */
.audioVisualizer {
  height: 100%;
}


/*  WAVEFORM  */
.waveform {
  position: absolute;
  z-index: -10;
  left: 0;
  bottom: 0;
}


/*  ACCOUNT  */
.Account-pic-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Account .profile-pic {
  width: 70px;
  border-radius: 5px;
  margin: 5px;
}
.Account-div {
  border: 3px solid white;
  margin: 0 20px;
  position: relative;
}
.Account-username {
  font-size: 2.5rem;
  font-family: 'Turret Road', sans-serif;
  margin: 0;
  margin-left: 20px;
}
.Account-follow-div {
  display: flex;
  justify-content: center;
}
.Account-follow-div > div > p {
  margin: 0 5px;
}
.follow-count {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}


/*  FOLLOW-LIST  */
.follow-list-div {
  border: 1px solid white;
  position: absolute;
  width: 500px;
  z-index: 10;
  background-color: var(--background-color);
  bottom: 0;
}
.follow-list-item {
  display: flex;
  align-items: center;
}
.follow-list-img {
  width: 40px;
  border-radius: 999px;
  margin: 10px;
}


/*  FILTER  */
.Filter {
  border: 1px solid white;
  text-align: left;
}
.Filter h4 {
  margin: 5px 0 0 0;
  text-align: center;
}

.Filter-types {
  margin: 0 20px;
}

.Filter-by-title {
  grid-area: search-filter;
  display: flex;
  align-items: center;
}
.Filter-by-title input {
  width: 200px;
  font-size: .8rem;
  padding: 2px;
}

.Filter-by-tag {
  display: inline-block;
  grid-area: tag-filter;
}
.Filter-dropdown {
  /* display: inline-flex or display: none defined in React */
  flex-direction: column;
  margin: 0 0 10px 20px;
}
.Filter-dropdown input[type="text"] {
  width: 200px;
  font-size: .8rem;
  padding: 2px;
}
.Filter-tags-dropdown {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}
.Filter-tags-dropdown svg {
  font-size: 1.5rem;
  margin: 0 15px;
  cursor: pointer;
}
.Filter-tags-list {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  flex-wrap: wrap;
}
.Filter-tag-checkbox-btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--background-color);
  color: white;
  border: 1px solid white;
  border-radius: 999px;
  outline: none;
  margin: 5px;
  padding: 8px;
  transition: background-color 0.3s;
  font-size: .8rem;
  filter:drop-shadow(0px 6px 5px black);
}
input[type="checkbox"]:checked + .Filter-tag-checkbox-btn {
  background-color: #646cff;
  color: white;
}
.Filter-tag-checkbox-btn:hover {
  background-color: #646cff;
  color: white;
}
.search-dropdown-div {
  text-align: left;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}
.search-dropdown {
  border: 2px solid white;
  width: 200px; /* search input width */
  padding: 2px;/* search input padding */
  background-color: var(--background-color);
  max-height: 400px;
  position: absolute;
  top: 1.6rem; /* font-size * 2*/
  z-index: 10;
}
.search-dropdown p {
  cursor: pointer;
}
.search-dropdown p:hover {
  color: #646cff;
}


/*  upload sample link  */
.upload-sample-link-div {
  border: 1px solid white;
  width: 400px;
  margin: 15px auto;
}
.upload-sample-link-div p {
  margin: 0;
}
.upload-sample-link-div svg {
  font-size: 2rem;
  margin: 10px;
  cursor: pointer;
}

/*  upload sample window  */
.upload-sample-window-div {
  position: fixed;
  background-color: var(--background-color);
  width: 90%;
  max-width: 1200px;
  max-height: 95vh;
  border: 1px solid white;
  z-index: 15;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}
.upload-sample-window-div svg {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

/*  edit profile window  */
.edit-profile-window-div {
  position: fixed;
  background-color: var(--background-color);
  width: 90%;
  height: 500px;
  border: 1px solid white;
  z-index: 15;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*  UPLOAD SAMPLE  */
.UploadSample {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.UploadSample .div-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  border: 1px solid white;
  background-color: var(--background-color);
  padding: 20px;
}
.UploadSample .img-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.UploadSample .image-preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*  EDIT PROFILE  */
.EditProfile {
  position: relative;
}
.EditProfile .open-close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 15px;
}
.EditProfile .image-preview {
  width: 250px;
  height: auto;
}

 
/*  MEDIA QUERIES  */

@media (max-width: 850px) {
  .Nav-name {
    margin: 0 0 0 20px;
    font-family: 'Silkscreen', sans-serif;
    font-size: 2.5rem;
    color: #646cff;
  }
  .Nav-links {
    display: none;
  }
  .Nav-img-wrapper {
    max-width: 80px;
    max-height: 80px;
    border-radius: 5px;
    overflow: hidden;
  }
  .menu {
    display: block;
  }
}

@media (max-width: 450px) {
  .Nav-img-wrapper {
    display: none;
  }
  .Nav-img-wrapper img {
    display: none;
  }
}