:root {
  --background-color: #242424;
  --purple-color: #9f64ff;
  --white-color: #fff;
}
#root {
  max-width: 1280px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}


.link:hover {
  cursor: pointer;
}

/* FONTS*/
/* font-family: 'Silkscreen', sans-serif; */
/* font-family: 'Press Start 2P', sans-serif; */


/*  OverLays  */
.overlay-sample-list {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.overlay-hamburger {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}


/*  CUSTOM-INPUTS  */
.custom-input-div, 
.custom-input-div-search {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  margin: .5rem;
}
.custom-input-label, 
.custom-input-label-search {
  padding: 0 0.8em;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  left: 2em;
  top: -.7em;
  background-color: var(--background-color);
  margin: 0;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  display: flex;
  flex-direction: row;
}
.custom-input-text, 
.custom-input-text-search,
.custom-input-password {
  outline: none;
  padding: 0.8em 1em;
  border: .1em solid var(--white-color);
  background-color: var(--background-color);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 1.8em;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  color: inherit
}
/*  // dotted border
.custom-input-text:focus {
  outline: 2px dashed rgba(255, 255, 255, 0.349);
  outline-offset: 0.8em;
} */

.custom-input-text:focus {
  outline: none;
}

.custom-input-div-search {
  padding-top: .8rem
}
.custom-input-label-search {
  left: 1.5em;
  cursor: default;
  display: flex;
  align-items: center;
}
.custom-input-text-search {
  font-size: 1.3rem;
  padding: .5rem 1rem;
}


/*  APP  */
.App {
  margin: 0 auto;
}
.App-following {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1rem;
  margin: 0 0 .5rem 0;
  font-weight: 300;
}



/*  FOLLOW-LIST  */
.follow-list-div {
  border: 1px solid var(--white-color);
  position: absolute;
  width: 500px;
  z-index: 10;
  background-color: var(--background-color);
  bottom: 0;
}
.follow-list-item {
  display: flex;
  align-items: center;
}
.follow-list-img {
  width: 40px;
  border-radius: 999px;
  margin: 10px;
}





/*  upload sample link  */
.upload-sample-link-div {
  /* border: 1px solid var(--white-color); */
  width: 10rem;
  margin: 15px auto;
}
.upload-sample-link-div p {
  margin: 0;
}
.upload-sample-link-div svg {
  font-size: 2rem;
  margin: 10px;
  cursor: pointer;
}


/*  upload sample window  */
.upload-sample-window-div {
  position: fixed;
  background-color: var(--background-color);
  border-radius: 0.5rem;
  width: 90%;
  max-width: 1200px;
  max-height: 95vh;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}
.upload-sample-window-div .x {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
}


/*  edit profile window  */
.edit-profile-window-div {
  position: fixed;
  background-color: var(--background-color);
  width: 90%;
  height: 500px;
  border: 1px solid var(--white-color);
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}




/*  EDIT PROFILE  */
.EditProfile {
  position: relative;
}
.EditProfile .open-close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 15px;
}
.EditProfile .image-preview {
  width: 250px;
  height: auto;
}

 
/*  MEDIA QUERIES  */

@media (max-width: 350px) {
  #root {
    zoom: .7;
  }
}


/* @media (max-width: 850px) {
  .Nav-name {
    margin: 0 0 0 20px;
    font-family: 'Silkscreen', sans-serif;
    font-size: 2.5rem;
    color: #646cff;
  }
  .Nav-links {
    display: none;
  }
  .Nav-img-wrapper {
    max-width: 80px;
    max-height: 80px;
    border-radius: 5px;
    overflow: hidden;
  }
  .menu {
    display: block;
  }
}

@media (max-width: 450px) {
  .Nav-img-wrapper {
    display: none;
  }
  .Nav-img-wrapper img {
    display: none;
  }
} */
